.centered {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

h2 {
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    color: white;

}
.ai2html-container {
    padding-top: 80px;
    padding-bottom: 100px;
}

.custom-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.last-sentence-padding {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px
}

body {
    padding-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 40px; /* Adjust the value to your preference */
    line-height: 1.4; 
    color: white;
  }

.article-container {
    max-width: 800px; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Center the container on the page */
    padding: 20px;
    padding-bottom: 20px;
  }